:root {
    --midnight: rgb(9, 24, 99);
    --sky: rgb(39, 154, 162);
    --light: rgb(233, 225, 173);
    --orange: rgb(251, 135, 19);
    --bubbles: url(./bubble_background.jpg);
}

* {
    box-sizing: border-box;
}

/* background-attachment: fixed allows for the body to scroll over the back-ground image*/
body {
    background-color: var(--light);
    background-image: var(--bubbles);
    background-size: contain;
    background-attachment: fixed;
}

/*header has flexbox properties*/
header {
    background-color: var(--midnight) ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0;
}

h1 {
    color: var(--midnight);
    background-image: var(--bubbles);
    background-size: contain;
    line-height: 1.5;
    font-size: 40px;
    width: fit-content;
    padding: 10px 5px 10px 50px;
}

nav {
    width: 40%;
    margin-right: 10px;
}

/* ul has flexbox properties in both nav bar and the contact-me-container*/
nav ul, .contact-me-container ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

nav a, section a {
    color: var(--orange);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 2px;
    border-bottom: 5px solid var(--sky);
}

section a {
    font-size: 16px;
}

/*section-1 (containing avatar and construction site) has flexbox properties*/
.section-1 {
    display: flex;
    justify-content: space-between;
}

.Profile-Picture img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--orange);
    margin: 25px;
}

/* construction site has flexbox properties*/
.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 200px;
    margin: 25px 0;
}

.sub-title img {
    height: 100%;
    width: 100%;
}

/* position absolute to place writing inside construction tape*/
.sub-title h2 {
    position: absolute;
    font-size: 40px;
}

/*about me and contact me containers have flex box properties*/
.about-me-container, .contact-me-container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    background-color: var(--midnight);
}

.about-me-container h3, .contact-me-container h3 {
    background-image: var(--bubbles);
    background-size: contain;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    text-align: right;
    color: var(--midnight);
}

.about-me-container h3 {
    height: 200px;
}

.about-me-container p {
    padding: 15px;
    color: var(--light);
    font-size: 16px;
    line-height: 1.5;
    border-left: 5px solid var(--sky);
}

.works-all-container h3 {
    text-align: center;
    font-size: 50px;
    color: var(--light);
    margin: 10px;
    border: 5px solid var(--sky);
    background-color: var(--midnight);
}

/*grid used to space work example bubbles*/
.works-container {
    display: grid;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.works {
    border-radius: 50%;
    border: 5px solid var(--sky);
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.works a {
    display: none;
}

/* on hover display link to works web page*/
.works:hover a {
    display: block;
    font-size: 40px;
    color: var(--midnight);
}

.works h4, .works p {
    color: var(--light);
    background-color: var(--midnight);
    border-radius: 10px;
    border: 5px solid var(--sky);
}

.works-small {
    width: 200px;
    height: 200px;
    background-image: url(./future-work.png);
    background-size: contain;
    filter: brightness(65%); 
}

/*on hover, bubble grows and becomes brighter*/
.works-small:hover {
    width: 250px;
    height: 250px;
    background-image: url(./future-work.png);
    background-size: contain;
    filter: brightness(100%); 
}

.works-small h4 {
    font-size: 20px;
}

.work2 {
    background-image: url(./work-3.png);
}

.work2:hover {
    background-image: url(./work-3.png);
}

.works-large {
    width: 600px; 
    height: 600px;
    background-image: url(./start-page.png);
    background-size: 600px 600px;
    filter: brightness(65%);
}

/*on hover, bubble grows and becomes brighter*/
.works-large:hover {
    width: 650px; 
    height: 650px;
    background-image: url(./start-page.png);
    background-size: 600px 600px;
    filter: brightness(100%);
}

.works-large h4 {
    font-size: 40px;
}

.work1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.work2 {
    grid-column: 5/6;
    grid-row: 1/2;  
}

.work3 {
    grid-column: 2/5;
    grid-row: 2/5; 
}

.work4 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.work5 {
    grid-column: 5/6;
    grid-row: 5/6;
}

.contact-me-container {
    margin: 20px 0;
}

.contact-me-container ul {
    width: 60%;
}


/*media queries with multiple breakpoints*/

/*changes grid layout in works*/
@media screen and (max-width: 1226px) {
    .works-container {
        row-gap: 50px;
    }
    .work1 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .work2 {
        grid-column: 3/4;
        grid-row: 4/5;  
    }
    
    .work3 {
        grid-column: 1/4;
        grid-row: 1/4; 
    }
    
    .work4 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .work5 {
        grid-column: 3/4;
        grid-row: 6/7;
    }
}

/*places h1 above nav bar in heading*/
@media screen and (max-width: 1089px) {
    header {
      flex-direction: column;
    }

    h1 {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        color: var(--midnight);
    }
    nav {
        width: 60%;
        margin-right: 0px;
    }
}
/*places header above about me blurb in the about-me-container and header above contact information in contact-me-container*/
@media screen and (max-width: 827px) {
    .about-me-container, .contact-me-container {
       flex-direction: column;
    }
    
    .about-me-container h3, .contact-me-container h3 {
        height: 75px;
        width: 100%;
        text-align: center;
    }
    
    .about-me-container p {
        border-top: 5px solid var(--sky);
        border-left: 0px;
    }

    .contact-me-container {
        margin: 0;
    }

    .contact-me-container ul {
        width: 100%;
        margin-left: 20px;
    }
}

/*resizes all sections to fit a smaller screen, makes works all in one row */
@media screen and (max-width: 668px) {
    header {
        text-align: center;
    }

    h1 {
        margin-right: 5px;
    }

    nav ul, .contact-me-container ul {
        display: block;
    }

    nav li, .contact-me-container li {
        margin: 20px 0px;
        width: 100%;
        text-align: center;
    }

    .sub-title h2 {
        font-size: 20px;
        text-align: center;
    }

    .works-large {
        width: 250px; 
        height: 250px;
        background-size: 250px 250px;
    }
    
    .works-large:hover {
        width: 300px; 
        height: 300px;
        background-size: 300px 300px;
    }
    .works-large h4 {
        font-size: 20px;
    }

    .works-small {
        margin-left: 25px;
    }

    .work1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .work2 {
        grid-column: 1/2;
        grid-row: 3/4;  
    }
    
    .work3 {
        grid-column: 1/2;
        grid-row: 1/2; 
    }
    
    .work4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .work5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .contact-me-container h3 {
         font-size: 50px;
         text-align: center;
         height: 75px;
     }

    .contact-me-container li {
        text-align: left;
        margin-left: 0px;
    }

    section ul {
        width: 100%;
        margin-left: 20px;
    }
    
}